*.pyc
*.pyo
*.log
*~
.#*
*.swp
*.orig
build

dist/
doc/_build/
doc/build/
doc/auto_examples/
doc/generated/
doc/example_data
doc/modules/generated/
doc/documentation/pysurfer_usage.txt
pip-log.txt
.coverage
tags
doc/coverages
doc/samples
*.jpg
pysurfer.egg-info
*.avi
.tmp/*.png
examples/example_data/coord-lh.label
.ipynb_checkpoints/
.cache/
.pytest_cache/
